extends ./layout/index

block contenido     
    main.container.mt-5 
        .row   
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" , class="img-fluid")
            .col-md-7
                h1=pagina
                <blockquote> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat ac ipsum et fermentum.
                Vivamus molestie nibh ac semper aliquet. Nam orci felis, interdum sed accumsan id, molestie vel turpis. 
                Vivamus venenatis posuere diam et rhoncus. Mauris bibendum, augue sed congue viverra, magna nulla pellentesque metus, 
                sed dictum nibh mi non odio. Etiam fermentum commodo orci, et laoreet velit scelerisque nec. Aliquam neque tellus, 
                ornare eget ipsum at, molestie iaculis nulla. Curabitur vulputate suscipit dui hendrerit tristique. 
                Nullam vitae mi turpis. Etiam a ex venenatis, blandit risus non, congue magna. Phasellus vitae tellus viverra,
                ultricies magna ac, venenatis nibh. Nam gravida libero sit amet ligula blandit faucibus vitae nec felis.
                Pellentesque ullamcorper, purus quis malesuada elementum, felis purus dignissim massa, id rutrum risus augue 
                sit amet orci.
                </blockquote>

                <p> Proin in odio ut mauris euismod fringilla in sed mauris. Integer mollis sapien pulvinar massa lobortis, 
                t posuere tellus dapibus. Sed ultricies in tortor vitae eleifend. Phasellus ullamcorper faucibus porttitor. 
                Nam interdum eget mauris sit amet fermentum. Aliquam ac dui vel neque tempor aliquam. Nam interdum diam turpis, 
                aliquet euismod lacus
                </p>


    .listado-iconos 
        .container.mt-5.py-5.text-center  
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    <p> Nulla et enim nec lacus porttitor euismod quis id lectus. Duis fringilla euismod purus mattis convallis.
                    Mauris auctor a massa non tincidunt. Phasellus sagittis eratget est facilisis semper.
                    Nullam sed magna
                    </p>

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    <p> Nulla et enim nec lacus porttitor euismod quis id lectus. Duis fringilla euismod
                    purus mattis convallis. Mauris auctor a massa non tincidunt. Phasellus sagittis erat
                    eget est facilisis semper. Nullam sed magna 
                    </p>         

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    <p> Nulla et enim nec lacus porttitor euismod quis id lectus. Duis fringilla euismod
                    purus mattis convallis. Mauris auctor a massa non tincidunt. Phasellus sagittis erat
                    eget est facilisis semper. Nullam sed magna
                    </p>                    
